.floatingButtons {
    display: flex !important;
}

@media (min-width: 544px) {
    .floatingButtons {
        margin-left: 0;
        justify-content: flex-end !important;
        width: 30.33%;
    }
}