.wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
}

.errorTitle {
    line-height: 1.25 !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin: 0.67em 0;
    color: #58a6ff;
    text-decoration: none;
    background-color: transparent;
}

